<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
       <style>
        body {text-align : center;
        border : 2px solid black;
        padding : 25px;
        }
    </style>
</head>
<body>
    <h1>Signup</h1>
    <br><br>
    <form class="" action="index.html" method="post">
      <b>Name :</b> <input type="text" name="" value="">
      <br><br>
      <b>DOB :</b> <input type="text" name="" value="">
      <br><br>
      <b>Gender : </b><input type="radio" name="abc" value="M"><label>M</label>
      <input type="radio" name="abc" value="F"><label>F</label>
      <br><br>
      <b>Email :</b> <input type="text" name="" value="">
      <br><br>
      <b>Phone Number : </b><input type="text" name="" value="">
      <br><br>
      <button type="button" name="button"> <b>Submit</b></button>
    </form>
</body>
</html>